html, body{
	font-size:16px;
	color: #000000;
	background-color: #000000; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #d6d6d6;
}

.section-2 {
	background-color: #ffffff;
}

.section-3 {
	background-color: #d6d6d6;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

div.picwrapper {
    width:100%;
    text-align: center;
}

div.pic {
    display:inline-block;
}

.social-container img{
	max-height:120px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 130px;
	max-width: 256px;
    display:inline-block;
    overflow: hidden;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 1px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #000;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
